## Part 1- Data Coding and Merging

In [2]:
#Import Libraries

import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
#Import NHL Team Data and Display
NHL_Team=pd.read_csv("./Datasets/NHL_team.csv")
NHL_Team.drop(['Unnamed: 0', 'abbr', 'tname', 'lname', 'sname'], axis = 1, inplace = True)
NHL_Team.rename(columns = {'name': 'team_name'}, inplace = True)
display(NHL_Team)

      tid              team_name tricode
0       1    Toronto Maple Leafs     TOR
1       2     Montréal Canadiens     MTL
2       4          Winnipeg Jets     WPG
3       5    Washington Capitals     WSH
4       6     Chicago Blackhawks     CHI
5       7        St. Louis Blues     STL
6       8    Pittsburgh Penguins     PIT
7      10        Edmonton Oilers     EDM
8      11         Calgary Flames     CGY
9      14    Philadelphia Flyers     PHI
10     16        San Jose Sharks     SJS
11     17         Buffalo Sabres     BUF
12     18      Detroit Red Wings     DET
13     19    Nashville Predators     NSH
14     20          Boston Bruins     BOS
15     21          Anaheim Ducks     ANA
16     22     Colorado Avalanche     COL
17     25    Tampa Bay Lightning     TBL
18     28       New York Rangers     NYR
19     29      New Jersey Devils     NJD
20     32        Ottawa Senators     OTT
21     35         Minnesota Wild     MIN
22     41      Los Angeles Kings     LAK
23     43        Arizona Coyotes     ARI
24     45       Florida Panthers     FLA
25     46           Dallas Stars     DAL
26     50        Phoenix Coyotes     PHX
27     51     New York Islanders     NYI
28     52  Columbus Blue Jackets     CBJ
29     53      Vancouver Canucks     VAN
30     59   Vegas Golden Knights     VGK
31     66    Carolina Hurricanes     CAR
32  11366      Atlanta Thrashers     ATL

In [14]:
#Import NHL Competition Data and Display Head
NHL_Competition=pd.read_csv("./Datasets/NHL_competition.csv")
NHL_Competition.drop(['Unnamed: 0', 'tz', 'start', 'end'], axis = 1, inplace = True)
NHL_Competition.rename(columns = {'name': 'competition_name'}, inplace = True)
NHL_Competition.head()

   comp_id  year  type         competition_name
0        1  2013     2  2013 NHL Regular Season
1        2  2017     2  2017 NHL Regular Season
2     2453  2013     3         2013 NHL Playoff
3     2541  2017     3         2017 NHL Playoff
4     2661  2012     2  2012 NHL Regular Season

In [15]:
#Import NHL Game Data and Display Head
NHL_Game=pd.read_csv("./Datasets/NHL_game.csv")
NHL_Game.drop(['X', 'period', 'status'], axis = 1, inplace = True)
NHL_Game.head()

   gid  comp_id        date  ascore  hscore home_away  tid
0   37        2   10/7/2017     NaN     NaN      away   25
1   67        2   10/9/2017     NaN     NaN      away   29
2  154        1  10/14/2013     NaN     NaN      away   29
3  278        1  10/24/2013     NaN     NaN      away   53
4  291        1  10/25/2013     NaN     NaN      away    5

In [17]:
NHL_Game = pd.merge(NHL_Competition, NHL_Game, on =['comp_id'])
NHL_Game.head()

,comp_id,year,type,competition_name,gid,date,ascore,hscore,home_away,tid
0,1,2013,2,2013 NHL Regular Season,154,10/14/2013,NaN,NaN,away,29
1,1,2013,2,2013 NHL Regular Season,278,10/24/2013,NaN,NaN,away,53
2,1,2013,2,2013 NHL Regular Season,291,10/25/2013,NaN,NaN,away,5
3,1,2013,2,2013 NHL Regular Season,294,10/25/2013,NaN,NaN,away,51
4,1,2013,2,2013 NHL Regular Season,518,11/11/2013,NaN,NaN,away,53

In [24]:
NHL_Game['hgd'] = NHL_Game['hscore'] - NHL_Game['ascore']
NHL_Game.dropna(inplace = True)
NHL_Game.head()

,comp_id,year,type,competition_name,gid,date,ascore,hscore,home_away,tid,hgd
21,1,2013,2,2013 NHL Regular Season,273,10/23/2013,6.0,1.0,away,32,-5.0
22,1,2013,2,2013 NHL Regular Season,1750,2/9/2014,2.0,4.0,away,18,2.0
23,1,2013,2,2013 NHL Regular Season,576,11/16/2013,4.0,3.0,away,5,-1.0
24,1,2013,2,2013 NHL Regular Season,1003,12/17/2013,1.0,3.0,away,1,2.0
25,1,2013,2,2013 NHL Regular Season,292,10/25/2013,4.0,7.0,away,50,3.0

In [7]:
#Import NHL PPPK Data and Display Head
NHL_PPPK=pd.read_csv("./Datasets/pp.pk.ppgf.csv")
NHL_PPPK.head()

  tricode   pp   pk  ppgf  competition_name
0     ANA   35   27   9.0  2010 NHL Playoff
1     BOS  126  116  22.0  2010 NHL Playoff
2     BUF   48   46  13.0  2010 NHL Playoff
3     CHI   27   39   6.0  2010 NHL Playoff
4     DET   59   55   6.0  2010 NHL Playoff

## Part 2 - Descriptive and Summary Analyses

## Part 3 - Correlation Analyses

## Uncomment this Section once your assignment is complete

In [ ]:
#Save Dataframes as .csv files
#NHL_Game.to_csv("NHL_Game2.csv", index=False)
#NHL_Team_Stats.to_csv("NHL_Team_Stats.csv", index=False)
#NHL_Team_R_Stats.to_csv("NHL_Team_R_Stats.csv", index=False)